<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Reestablecer Contrase침a</title>
  <link rel="stylesheet" type="text/css" href="/Styles/stylesforgotpass.css">
</head>

<body>
  <section>
    <div class="form-box">
      <div class="form-value">
        <form action="/reset-password" method="POST">
          <h1>Reestablecer Contrase침a</h1>
          <img src="/Styles/logo.png" alt="Imagen on fondo transparente" />

          <div class="inputbox">
            <ion-icon name="mail-outline"></ion-icon>
            <input type="email" name="email" id="email" placeholder="Correo electr칩nico" required />
          </div>
          <div class="container">
            <button type="submit" class="button"><strong>Enviar</strong></button>
            <button id="button2" class="button"><strong>Cancelar</strong></button>
            <br></br>
          </div>
          <div id="mensaje-enviado" style="display: none" class="alert alert-success">
            Correo enviado, por favor revise su bandeja de entrada.
          </div>
          <div id="msg">
            <% if (error) { %>
              <strong>
                <p>
                  <%= error %>
                </p>
              </strong>
              <% } %>
          </div>
          <% if (successMessage) { %>
            <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
            <script type="text/javascript">
              swal({
                title: "Reestablecer contrase침a",
                text: "<%= successMessage %>",
                icon: "success",
                className: "custom-swal",
                buttons: {
                  confirm: {
                    text: "OK",
                    value: true,
                    visible: true,
                    className: "custom-confirm-button",
                  },
                }
              }).then(function () {
                window.location = "/";
              });
            </script>
            <% } %>
              <script>
                document.getElementById("button2").addEventListener("click", function () {
                  window.location.href = "/";
                });
              </script>
      </div>
      </form>
    </div>
    </div>
  </section>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>