<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reestablecer clave</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="/Styles/stylesresetpassword.css"
    />
  </head>
  <body>
    <section>
      <div class="form-box">
        <div class="form-value">
          <form action="/reset-password-confirm" method="POST">
            <h1>Reestablecer Contraseña</h1>
            <img src="/Styles/logo.png" alt="Imagen on fondo transparente" />

            <div class="inputbox">
              <input type="hidden" name="reset_code" value="<%= resetCode %>" />
              <input
                type="password"
                name="password"
                placeholder="Nueva clave"
                required
              />
            </div>
            <div class="container">
              <button type="submit" class="button">
                <strong>Reestablecer</strong>
              </button>
            </div>
          </form>
        </div>
      </div>
    </section>
  </body>
</html>
