* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  background: #304352;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffffff, #5e87a9);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffffff, #5e87a9);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-position: center;
}
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
}

.form-box {
  /* color de linea del cuadro central*/
  position: relative;
  width: 690px;
  height: 600px;
  background: #dbe7ee;
  border: 2px solid rgba(0, 0, 0, 0.479);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 24px;
  font-weight: 2px;
  color: #000000;
  text-align: center;
  margin-top: -50px;
  font-family: Verdana, sans-serif;
  line-height: 1.2;
}

input:focus ~ label,
input:valid ~ label {
  top: -5px;
}
.inputbox input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding: 0 35px 0 5px;
  color: #000000;
}
.inputbox ion-icon {
  /* color de icono */
  position: absolute;
  right: 10px;
  color: #222124;
  /*font-size: 1.2em;*/
  font-size: medium;
  top: 20px;
}
img {
  display: block;
  width: 260px; /* Tamaño inicial de la imagen */
  height: 145px; /* La altura se ajustará automáticamente para mantener la proporción */
  transition: width 0.3s; /* Transición suave al cambiar el tamaño */
  cursor: pointer; /* Cambiar el cursor al pasar sobre la imagen */
  margin: 0 auto;
}

button {
  justify-content: center;
  border-radius: 5px;
  background: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #fff;
  color: #000000;
  border: none;
  padding: 10px 20px;
}
.contenedor {
  display: flex;
  justify-content: center;
}
.button[type="submit"] {
  background-color: #210f7a; /* Color azul para Iniciar Sesión */
  color: #fff;
  position: absolute;
  margin-left: -130px;
  width: 100px;
}
#buttonCancelar {
  background-color: rgb(200, 32, 32); /* Color verde para Registrarse */
  color: #fff;
  position: absolute;
  margin-left: 130px;
  width: 100px;
  cursor: pointer;
}
.button:hover {
  opacity: 0.8;
}
#msg p {
  margin: 0;
  font-size: 14px; /* Tamaño del texto */
  color: #bb0000;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 55px;
}
